/* Start Variables */
:root{
    --main-Color:#10cab7;
    --secondary-Color:#2c4745;
    --section-background:#f6f6f6;
    --p-Color:#444;
    --section-padding: 60px;
    --content-padding:80px;
}
/* End Variables */

/* Start Global Rules*/
*{
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    box-sizing:border-box ;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    margin:0 auto 0 auto;
    padding:0 20px 0 20px;
}
/* Container Risposivity*/
/* Small*/
@media (min-width:768px){
    .container{
        width:700px;
    }
}
/* Medium*/
@media (min-width:992px){
    .container{
        width:950px;
    }
}
/* Large*/
@media (min-width:1200px){
    .container{
        width:1100px;
    }
}
/* End Global Rules */
/* Start Components */
.special-heading{
    font-size: 100px;
    color:#ebeced;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin:0;
    text-transform: capitalize;
}
.special-heading + p{
    margin:-30px 0 0;
    font-size: 20px;
    text-align: center;
    color:#797979;
}
@media (max-width:768px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin:-20px 0 0;
        font-size: 17px;
    }
}
/* End Components*/
/* Start Header*/
.header{
    padding:20px;
}
.header .container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.header .logo{
    width:60px;
}
.header .links{
    position:relative;
}
.header .links:hover > ul  {
    display: block;
    z-index: 1;
}
.header .links .icon{
    width:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content:end;
}
.header .links .icon:hover span:nth-child(2) {
    width:100%;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px ;
    height: 2px;
    width:100%;
}

.header .links .icon span:nth-child(2){
    width:70%;
    transition: width .3s;
}
.header .links ul{
    list-style-type: none;
    margin:0;
    padding:0;
    background-color: #f6f6f6;
    min-width: 200px;
    position: absolute;
    right:0;
    top:calc(100% + 15px);
    display:none;
}
@media (max-width:350px){
    .header .links ul{
        min-width: 140px;
    }
}
.header .links ul::before{
    content:'';
    border-width:10px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    position: absolute;
    right:5px;
    top:-20px;
}
.header .links ul li a{
    display:block;
    padding:5px;
    text-decoration: none;
    color:#333;
    transition: .3s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a{
    border-bottom:1px solid #ddd;
}
/* End Header*/
/* Start Landing Section*/
.landing{
    background-image: url('../images/landing.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin:0;
    font-weight: bold;
    font-size: 45px;
    color:var(--main-Color);
}
@media (max-width:350px){
    .landing .intro-text h1{
        font-size: 35px;
    }
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.6;
    word-spacing: .6;
    text-transform: capitalize;
}
@media (max-width:350px){
    .landing .intro-text p{
        font-size: 15px;
    }
}
/* End Landing Section*/
/* Start Features Section */
.features{
    padding:60px 0;
    background-color: var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:20px;
}
@media (max-width:350px){
    .features .container{
        grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    }
}
.features .feat{
    padding:20px;
    text-align: center; 
}
@media (min-width:678px) and (max-width:1199px){
    .features .feat:last-child{
       grid-column-start: 1;
       grid-column-end: 3;
    }
}
.features .feat i{
    color:var(--main-Color);
    margin:10px 0;
}
.features .feat h2{
    font-weight: 800;
    text-transform: capitalize;
    font-size: 20px;
}
.features .feat p{
    color:var(--p-Color);
    line-height: 1.6;
}
/* End Features Section */
/* Start Services Section */
.services{
    padding:60px 0;
}
.services .services-content{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:30px;
    margin-top: 120px;
}
@media (min-width:992px) and (max-width:1200px){
    .services .services-content{
        padding-left: 120px;
    }
}
@media (max-width:350px){
    .services .services-content{
    grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    }
}
.services-content .service{
    display:flex;
    margin-bottom: 30px;
}
@media (max-width:768px){
    .services-content .service{
        flex-direction:column;
        text-align: center;
    }
}
.services-content .service i{
    color:var(--main-Color);
    flex-basis: 60px;
}
.services-content .service .text{
    flex:1;
}
.services-content .service .text h3{
    margin:0px 0 20px;
    text-transform: capitalize;
}
.services-content .service .text p{
    font-weight: 300;
    color:var(--p-Color);
    line-height: 1.6;
}
.services-content .image{
    position:relative;
    text-align: center;
}
.services-content .image::before{
    content: '';
    position:absolute;
    width:80px;
    height:calc(100% + 100px);
    background-color: var(--secondary-Color);
    right:0px;
    top:-50px;
    z-index: -1;
}
.services-content .image img{
    width:260px;
}
@media (max-width:1199px){
    .image-column{
        display: none;
    }
}
/* End Services Section */
/* Start Portfolio Section */
.portfolio{
    padding:var(--section-padding) 0px;
    background-color:var(--section-background);
}
.portfolio .portfolio-content{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: var(--content-padding);
}
@media (max-width:350px){
    .portfolio .portfolio-content{
        grid-template-columns:repeat(auto-fill,minmax(180px,1fr));
    }
}
.portfolio-content .card{
    background-color: #fff;
}
@media (max-width:768px){
    .portfolio-content .card{
        text-align: center;
    }
}
.card img {
    max-width:100%;
}
.portfolio-content .card-info{
    padding:20px;
}
.portfolio-content .card-info h3{
    margin:0;
    text-transform: capitalize;
}
.portfolio-content .card-info p{
    color:var(--p-Color);
    line-height: 1.6;
    margin-bottom:0;
}
/* End Portfolio Section */
/* Start About Section */
.about{
    padding:var(--section-padding) 0px;
}
.about-content{
    display:flex;
    flex-wrap: wrap;
    margin-top:var(--content-padding);
}
@media (max-width:992px){
    .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about-content .image{
    position: relative;
    width:400px;
    height:350px;
    padding-top:60px;
}
@media (max-width:992px){
    .about-content .image{
        margin:auto;
        padding-top:0;
        height:250px;
    }
}
@media (max-width:450px){
    .about-content .image{
        width:300px;
        height:250px;
    }
}
@media (max-width:350px){
    .about-content .image{
        width:200px;
        height:150px;
    }
}
.about-content .image::before{
    content:'';
    position:absolute;
    width:80px;
    height: calc(100% + 60px);
    background-color:#ebeced;
    top: -20px;
    left:-20px;
    z-index: -1;
}
.about-content .image::after{
    content:'';
    width:120px;
    height:200px;
    position:absolute;
    border-left:60px solid var(--main-Color);
    border-bottom: 60px solid var(--main-Color);
    top:20px;
    right:-50px;
    z-index: -1;
}
@media (max-width:992px){
    .about-content .image::before,.about-content .image::after{
        display:none;
    }
}
.about-content .image img{
    max-width:100%;
}
.about-content .text{
    flex:1;
    padding-left:80px;
}
@media (max-width:992px){
    .about-content .text{
        padding-left: 20px;
    }
}
@media (max-width:450px){
    .about-content .text{
        margin:auto;
        width:200px;
        padding:0;
    }
}
.about-content .text p:first-child{
    font-weight:bold;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 50px;
}
.about-content .text hr{
    margin:0;
    width:80%;
    border-color:var(--main-Color);
    margin-bottom: 20px;
}
.about-content .text p:not(:first-child){
    font-size: 16px;
    line-height: 1.6;
    color:var(--p-Color);
}
/* End About Section */
/* Start Contact Section */
.contact{
    background-color:var(--section-background);
    padding:var(--section-padding) 0px;
}
.contact .info{
    padding:var(--section-padding) 0px;
    text-align: center;
}
.contact .info .label{
    font-size:30px;
    font-weight: 800;
    color:var(--secondary-Color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
@media (max-width:370px){
    .contact .info .label{
    font-size:20px;
    }
}
.contact .info .link{
    display: block;
    font-size: 30px;
    font-weight: 800;
    color:var(--main-Color);
    text-decoration: none;
}
@media (max-width:370px){
    .contact .info .link{
    font-size:20px;
    }
}
.contact .info .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color:var(--secondary-Color);
}
/* End Contact Section */
/* Start Footer Section */
.footer p{
    background-color: var(--secondary-Color);
    color:#fff;
    padding:30px 10px;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    margin:0;
}
@media (max-width:400px){
    .footer p{
        padding:20px 0px;
        font-size: 15px;
    }
}
.footer p a{
    color:var(--main-Color);
    text-decoration: none;
}
/* End Footer Section */
